<head>
    <meta name="description" content="Cloudpe website testing">
    <meta name="author" content="Charles Chou">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- #use per IE standards 6-11 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- #improve mobile experience -->
	<!-- #browser favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link href="{{ "/assets/css/w3.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">

</head>