<div id="slideshow">
	<div class="slideshow-container">
	  <img class="mySlides slide_fade" src="{{ "/assets/img/slideshow/meet_banner.png" | prepend: site.baseurl }}"  style="width:100%">
	  <img class="mySlides slide_fade" src="{{ "/assets/img/slideshow/lecture_banner.png" | prepend: site.baseurl }}"  style="width:100%">
	  <img class="mySlides slide_fade" src="{{ "/assets/img/slideshow/ntu_banner.png" | prepend: site.baseurl }}"  style="width:100%">
	  <a class="prev_slide" onclick="plusSlides(-1)">&#10094;</a>
	  <a class="next_slide" onclick="plusSlides(1)">&#10095;</a>
	  <div class="dots">
	    <span class="dot" onclick="currentSlide(1)"></span>
	    <span class="dot" onclick="currentSlide(2)"></span>
	    <span class="dot" onclick="currentSlide(3)"></span>
	  </div>
	</div>
	
</div> <!-- /slideshow -->